<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Deaths vs Kills Players</title>
  </head>
  <body>
    @include('partials/reports')
    <br />

    <table border="1">
      <thead>
        <tr>
          <th rowspan="2">Player</th>
          <th colspan="2">Killed By Me</th>
          <th colspan="2">Killed Me</th>
        </tr>
        <tr>
          <th>Gun</th>
          <th>Knife</th>
          <th>Gun</th>
          <th>Knife</th>
        </tr>
      </thead>
      <tbody>
        @each(item in data)
        <tr>
          <td>{{ item.player }}</td>
          <td style="text-align: right">{{ item.killTotals }}</td>
          <td style="text-align: right">{{ item.killKnifeTotals }}</td>
          <td style="text-align: right">{{ item.killedByTotals }}</td>
          <td style="text-align: right">{{ item.killedByKnifeTotals }}</td>
        </tr>
        @end
      </tbody>
    </table>

    @include('partials/assets')
  </body>
</html>
